// Small screens ================================================================================== /
@media screen and (max-width: $break-small) {
  // -------- header
  @include collapse-menu;

  // ----------- content
  .smallFloat {
    padding: 0;
    float: none;
    width: 100%;
    height: auto;
  }

  @include collapse-right-column;

  // ----------- footer
  @include collapse-footer;
}