/* line 17, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HM Ampersand Regular';
  src: url("../fonts/hmampersand-regular.eot");
  src: url("../fonts/hmampersand-regular.eot#") format("embedded-opentype"), url("../fonts/hmampersand-regular.woff") format("woff"), url("../fonts/hmampersand-regular.ttf") format("truetype"), url("../fonts/hmampersand-regular.svg#hmampersand-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HM Ampersand Ultra Light';
  src: url("../fonts/hmampersand-ultralight.eot");
  src: url("../fonts/hmampersand-ultralight.eot#") format("embedded-opentype"), url("../fonts/hmampersand-ultralight.woff") format("woff"), url("../fonts/hmampersand-ultralight.ttf") format("truetype"), url("../fonts/hmampersand-ultralight.svg#hmampersand-ultralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HM Ampersand Light';
  src: url("../fonts/hmampersand-light.eot");
  src: url("../fonts/hmampersand-light.eot#") format("embedded-opentype"), url("../fonts/hmampersand-light.woff") format("woff"), url("../fonts/hmampersand-light.ttf") format("truetype"), url("../fonts/hmampersand-light.svg#hmampersand-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HM Ampersand Bold';
  src: url("../fonts/hmampersand-bold.eot");
  src: url("../fonts/hmampersand-bold.eot#") format("embedded-opentype"), url("../fonts/hmampersand-bold.woff") format("woff"), url("../fonts/hmampersand-bold.ttf") format("truetype"), url("../fonts/hmampersand-bold.svg#hmampersand-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =================================================================================================
Typography - limited rules for just this tutorial rather than a complete set
================================================================================================= */
/* line 5, ../sass/_typography.scss */
body {
  font-family: "HM Ampersand Ultra Light";
  line-height: 1.375;
}

/* line 10, ../sass/_typography.scss */
p {
  margin: 0 0 1.375em 0;
  font-size: 1em;
  line-height: 1.375;
}

/* line 16, ../sass/_typography.scss */
p.ingress {
  text-transform: uppercase;
}

/* line 20, ../sass/_typography.scss */
a {
  color: #16d1da;
  font-size: 0.9em;
}

/* line 25, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  line-height: 2;
}

/* line 32, ../sass/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1.3;
  padding-bottom: 30px;
}

/* line 38, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 42, ../sass/_typography.scss */
h4.puff-header {
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding-left: 5px;
}

/* line 2, ../sass/_general.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 3, ../sass/_general.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

/* line 4, ../sass/_general.scss */
section div {
  padding: 1em 0;
}

/* line 7, ../sass/_general.scss */
.header-bg {
  height: 2.75em;
  background-color: #272727;
  color: white;
  width: 1373px;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, ../sass/_general.scss */
header {
  height: 325px;
  background-image: url("../images/imgCloudBg.png");
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 23, ../sass/_general.scss */
.menu {
  height: 2.75em;
  width: 1373px;
  background-color: #272727;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

/* line 32, ../sass/_general.scss */
.navlist {
  display: inline-block;
}

/* line 36, ../sass/_general.scss */
.navlist li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 2.75em;
  background-image: none;
}

/* line 46, ../sass/_general.scss */
.navlist li:hover {
  cursor: pointer;
}

/* line 50, ../sass/_general.scss */
.navlist li.active {
  background-image: url("../images/menu-bg.png");
  background-repeat: no-repeat;
}

/* line 55, ../sass/_general.scss */
.cloud-icon {
  height: 2.2em;
  width: 2.2em;
  display: block;
  float: left;
  margin-top: 0.275em;
  margin-right: 5px;
}

/* line 64, ../sass/_general.scss */
.menu-button-line {
  height: 8px;
  width: 50px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: white;
  padding: 0;
}

/* line 73, ../sass/_general.scss */
.logo {
  display: inline-block;
  font-family: 'HM Ampersand Light';
  text-transform: uppercase;
  margin-top: 12px;
}

/* line 80, ../sass/_general.scss */
.profile-pic {
  width: 1373px;
  height: 325px;
  background-image: url("../images/imgCloudBg.png");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

/* line 91, ../sass/_general.scss */
.puff {
  margin-top: 10px;
}

/* line 95, ../sass/_general.scss */
.puff li {
  padding-left: 10px;
}

/* line 99, ../sass/_general.scss */
.puff li:before {
  content: "»";
}

/* line 103, ../sass/_general.scss */
.puff a {
  margin-left: 10px;
}

/* line 108, ../sass/_general.scss */
.footer-bg {
  height: 4.125em;
  width: 1373px;
  background-color: #16d1da;
  margin-left: auto;
  margin-right: auto;
}

/* line 116, ../sass/_general.scss */
footer h4 {
  text-transform: uppercase;
  color: white;
  font-family: 'HM Ampersand Light';
}

/* line 122, ../sass/_general.scss */
#footer-copyright {
  padding-top: 10px;
}

/* line 126, ../sass/_general.scss */
#footer-links {
  float: right;
  padding-top: 20px;
}

/* line 131, ../sass/_general.scss */
.footer-list li {
  display: inline-block;
  padding-right: 90px;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 1.375;
}

/* line 139, ../sass/_general.scss */
.footer-list li.last {
  padding-right: 0;
}

/* line 143, ../sass/_general.scss */
.footer-list li a {
  color: white;
  text-decoration: none;
}

/* line 148, ../sass/_general.scss */
p.copyright {
  color: white;
  margin: 0;
  line-height: 1.375;
}

/* line 154, ../sass/_general.scss */
.header-item {
  vertical-align: top;
  padding-right: 90px;
}

@media screen and (min-width: 940px) {
  /* line 4, ../sass/_large_screen.scss */
  #header-menu {
    display: inline-block;
  }

  /* line 8, ../sass/_large_screen.scss */
  #header-logo {
    display: inline-block;
  }

  /* line 12, ../sass/_large_screen.scss */
  .smallFloat {
    float: right;
    padding: 0 0 10px 10px;
  }

  /* line 17, ../sass/_large_screen.scss */
  .menu-button {
    display: none;
  }

  /* line 23, ../sass/_large_screen.scss */
  .main-content .first-div {
    float: left;
    margin-left: 80px;
    width: 65.95745%;
  }
  /* line 27, ../sass/_large_screen.scss */
  .main-content .second-div {
    float: right;
    margin-right: 0px;
    margin-right: 0;
    float: right;
    width: 23.40426%;
  }

  /* line 34, ../sass/_large_screen.scss */
  .main-content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    zoom: 1;
    padding: 0;
    margin-bottom: 1.375em;
  }
  /* line 5, ../sass/_mixins.scss */
  .main-content:before, .main-content:after {
    content: "";
    display: table;
  }
  /* line 6, ../sass/_mixins.scss */
  .main-content:after {
    clear: both;
  }
  /* line 33, ../sass/_grid.scss */
  .main-content > div {
    float: left;
    margin-right: 2.12766%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 39, ../sass/_large_screen.scss */
  section div {
    padding: 1.8em 1em 0.93em 1em;
  }

  /* line 45, ../sass/_large_screen.scss */
  .footer-section #footer-copyright {
    float: left;
    margin-left: 0px;
    width: 14.89362%;
  }
  /* line 50, ../sass/_large_screen.scss */
  .footer-section #footer-links {
    float: right;
    margin-right: 160px;
    width: 57.44681%;
  }
}
@media screen and (min-width: 360px) and (max-width: 939px) {
  /* line 16, ../sass/_mixins.scss */
  .menu {
    width: 100%;
  }

  /* line 19, ../sass/_mixins.scss */
  .header-item {
    margin-top: 0;
    padding: 0;
  }

  /* line 24, ../sass/_mixins.scss */
  .menu-button {
    float: right;
    margin-right: 5px;
    display: inline-block;
  }

  /* line 30, ../sass/_mixins.scss */
  #header-logo {
    display: inline-block;
  }

  /* line 34, ../sass/_mixins.scss */
  #header-menu {
    display: none;
  }

  /* line 9, ../sass/_medium_screen.scss */
  .smallFloat {
    float: right;
    padding: 0 0 10px 10px;
  }

  /* line 40, ../sass/_mixins.scss */
  h4.puff-header {
    text-align: center;
    padding-left: 0;
    font-size: 1.4em;
  }

  /* line 46, ../sass/_mixins.scss */
  .puff li {
    text-align: center;
    padding: 5px 0 5px 0;
  }

  /* line 51, ../sass/_mixins.scss */
  .puff li a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'HM Ampersand Light';
  }

  /* line 57, ../sass/_mixins.scss */
  .puff li:before {
    content: "";
  }

  /* line 61, ../sass/_mixins.scss */
  .puff a {
    margin-left: 0;
  }

  /* line 67, ../sass/_mixins.scss */
  #footer-links {
    float: none;
  }

  /* line 71, ../sass/_mixins.scss */
  .footer-bg {
    height: auto;
    margin-bottom: -1.375em;
    width: 100%;
  }

  /* line 77, ../sass/_mixins.scss */
  .footer-list li {
    display: block;
    font-size: 1.3em;
    line-height: 2.75;
    text-align: center;
    padding: 0;
  }

  /* line 85, ../sass/_mixins.scss */
  #footer-copyright {
    text-align: center;
  }
}
@media screen and (max-width: 359px) {
  /* line 16, ../sass/_mixins.scss */
  .menu {
    width: 100%;
  }

  /* line 19, ../sass/_mixins.scss */
  .header-item {
    margin-top: 0;
    padding: 0;
  }

  /* line 24, ../sass/_mixins.scss */
  .menu-button {
    float: right;
    margin-right: 5px;
    display: inline-block;
  }

  /* line 30, ../sass/_mixins.scss */
  #header-logo {
    display: inline-block;
  }

  /* line 34, ../sass/_mixins.scss */
  #header-menu {
    display: none;
  }

  /* line 7, ../sass/_small_screen.scss */
  .smallFloat {
    padding: 0;
    float: none;
    width: 100%;
    height: auto;
  }

  /* line 40, ../sass/_mixins.scss */
  h4.puff-header {
    text-align: center;
    padding-left: 0;
    font-size: 1.4em;
  }

  /* line 46, ../sass/_mixins.scss */
  .puff li {
    text-align: center;
    padding: 5px 0 5px 0;
  }

  /* line 51, ../sass/_mixins.scss */
  .puff li a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'HM Ampersand Light';
  }

  /* line 57, ../sass/_mixins.scss */
  .puff li:before {
    content: "";
  }

  /* line 61, ../sass/_mixins.scss */
  .puff a {
    margin-left: 0;
  }

  /* line 67, ../sass/_mixins.scss */
  #footer-links {
    float: none;
  }

  /* line 71, ../sass/_mixins.scss */
  .footer-bg {
    height: auto;
    margin-bottom: -1.375em;
    width: 100%;
  }

  /* line 77, ../sass/_mixins.scss */
  .footer-list li {
    display: block;
    font-size: 1.3em;
    line-height: 2.75;
    text-align: center;
    padding: 0;
  }

  /* line 85, ../sass/_mixins.scss */
  #footer-copyright {
    text-align: center;
  }
}
